<!DOCTYPE HTML>
<html>
<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />

	<!-- Custom CSS -->
	<link href="/css/style.css" rel='stylesheet' type='text/css' />

	<!-- font-awesome icons CSS -->
	<link href="/css/font-awesome.css" rel="stylesheet">
	<!-- //font-awesome icons CSS-->

	<!-- side nav css file -->
	<link href='/css/SidebarNav.min.css' media='all' rel='stylesheet' type='text/css'/>
	<!-- //side nav css file -->

	<!-- js-->
	<script src="/js/jquery-1.11.1.min.js"></script>
	<script src="/js/modernizr.custom.js"></script>

	<!--webfonts-->
	<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
	<!--//webfonts-->

	<!-- chart -->
	<script src="/js/Chart.js"></script>
	<!-- //chart -->

	<!-- Metis Menu -->
	<script src="/js/metisMenu.min.js"></script>
	<script src="/js/custom.js"></script>
	<link href="/css/custom.css" rel="stylesheet">
	<!--//Metis Menu -->
	<style>
		#chartdiv {
			width: 100%;
			height: 295px;
		}
	</style>
	<!--pie-chart --><!-- index page sales reviews visitors pie chart -->
	<script src="/js/pie-chart.js" type="text/javascript"></script>
	<!-- //pie-chart --><!-- index page sales reviews visitors pie chart -->

	<!-- requried-jsfiles-for owl -->
	<link href="/css/owl.carousel.css" rel="stylesheet">
	<script src="/js/owl.carousel.js"></script>
	<!-- //requried-jsfiles-for owl -->
</head>
<body class="cbp-spmenu-push">
<div class="main-content">
	<div class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
		<!--left-fixed -navigation-->
		<aside class="sidebar-left">
			<nav class="navbar navbar-inverse">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1><a class="navbar-brand" href="index.html"></span> 无偿献血服务<span class="dashboard_text">医务人员</span></a></h1>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="sidebar-menu">
					<li class="header">操作列表</li>
					<li class="treeview"> <a href="/doctor/index"> <em class="fa fa-dashboard"></em> 首页</a></li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>献血活动</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="/doctor/cblood.html"><i class="fa fa-angle-right"></i>申请献血活动</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> 献血活动查询</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>献血人员登记</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-right"></i>人员登记</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i>过往登记</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>体检记录</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-right"></i>体检添加</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i>体检记录查询</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>献血记录</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-right"></i>添加献血记录</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i>献血记录查询</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>血液复测</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-right"></i>血液复测结果添加</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i>复测记录查询</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>血液入库</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-right"></i>入库批准</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i>血液入库记录</a></li>
						</ul>
					</li>
					<li class="treeview">
						<a href="#">
							<i class="fa fa-laptop"></i>
							<span>血液申请</span>
							<i class="fa fa-angle-left pull-right"></i>
						</a>
						<ul class="treeview-menu">
							<li><a href="#"><i class="fa fa-angle-right"></i>填写血液申请</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i>血液申请记录</a></li>
						</ul>
					</li>

				</ul>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</aside>
	</div>
	<!--left-fixed -navigation-->

	<!-- header-starts -->
	<div class="sticky-header header-section ">
		<div class="header-left">
			<!--toggle button start-->
			<!--toggle button end-->
			<!--notification menu end -->
		</div>
		<div class="header-right">




			<div class="profile_details">
				<ul>
					<li class="dropdown profile_details_drop">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							<div class="profile_img">
								<span class="prfil-img"><img src="/images/2.jpg" alt=""> </span>
								<div class="user-name">
									<p>刘合伙</p>
									<span>护士长</span>
								</div>
								<i class="fa fa-angle-down lnr"></i>
								<i class="fa fa-angle-up lnr"></i>
								<div class="clearfix"></div>
							</div>
						</a>
						<ul class="dropdown-menu drp-mnu">
							<li> <a href="#"><i class="fa fa-cog"></i>个人设置</a> </li>
							<li> <a href="/all/doctorlogin"><i class="fa fa-sign-out"></i> 退出登录</a> </li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //header-ends -->
	<!-- main content start-->
	<div id="page-wrapper">
		<div class="main-page">
			<div class="col_3">
				<div class="col-md-4 widget widget1">
					<div class="r3_counter_box">
						<i class="pull-left fa fa-laptop user1 icon-rounded"></i>
						<div class="stats">
							<h5><strong>1</strong></h5>
							<span>当前献血活动数</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 widget widget1">
					<div class="r3_counter_box">
						<i class="pull-left fa fa-pie-chart dollar1 icon-rounded"></i>
						<div class="stats">
							<h5><strong>122</strong></h5>
							<span>今日献血数</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 widget">
					<div class="r3_counter_box">
						<i class="pull-left fa fa-users dollar2 icon-rounded"></i>
						<div class="stats">
							<h5><strong>6人</strong></h5>
							<span>献血点人员</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br></br>
		<div class="main-page">
			<div class="tables">
			<div class="bs-example " data-example-id="bordered-table">
			<h4>第一人民医院献血点人员:</h4>
			<table class="table table-bordered widget-shadow">
				<thead>
					<tr>
						<th>姓名</th>
						<th>性别</th>
						<th>电话</th>
						<th>邮箱</th>
						<th>工作状态</th>
					</tr>
				</thead>
				<tbody id="tbody">
				</tbody>
			</table>
		    </div>
				<div class="bs-example " data-example-id="bordered-table">
					<h4>第一人民医院献血点人员操作消息:</h4>
					<table class="table" id="newlist">

					</table>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>



<script >
	$(function(){
		doctorlist();
		newlist();
	});
	
	//人员操作信息了列表
	function newlist() {
		$.ajax({
			url:"/doctor/selectallmessage",
			type:"GET",
			success:function (result) {
				$.each(result.extend.newlist,function(index,item){
					var main=$("<td></td>").append(item);
					$("<tr></tr>").append(main).appendTo("#newlist");
				});
			}
		});
	}
	
	//同一医院的人员列表
	function doctorlist() {
		$.ajax({
			url:"/doctor/findbyhospital",
			type:"GET",
			success:function (result) {
				$.each(result.extend.list,function(index,item){
					var name=$("<td></td>").append(item.dname);
					var sex=$("<td></td>").append(item.dsex);
					var phone=$("<td></td>").append(item.dphone);
					var email=$("<td></td>").append(item.demail);
					var dstate="在职";
					if(!item.dstate)
						dstate="离职";
					var state=$("<td></td>").append(dstate);
					$("<tr></tr>").append(name).append(sex).append(phone).append(email)
							.append(state).appendTo("#tbody");
				});
			}
		});
	}

</script>




<!-- side nav js -->
<script src='/js/SidebarNav.min.js' type='text/javascript'></script>
<script>
	$('.sidebar-menu').SidebarNav()
</script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.js"> </script>
<!-- //Bootstrap Core JavaScript -->

</body>
</html>