<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blood.bloodservice.dao.DoctorMapper" >
  <resultMap id="BaseResultMap" type="com.blood.bloodservice.entity.Doctor" >
    <id column="did" property="did" jdbcType="INTEGER" />
    <result column="dname" property="dname" jdbcType="VARCHAR" />
    <result column="dsex" property="dsex" jdbcType="VARCHAR" />
    <result column="didentity" property="didentity" jdbcType="VARCHAR" />
    <result column="daddress" property="daddress" jdbcType="VARCHAR" />
    <result column="dnation" property="dnation" jdbcType="VARCHAR" />
    <result column="dphone" property="dphone" jdbcType="VARCHAR" />
    <result column="demail" property="demail" jdbcType="VARCHAR" />
    <result column="dwork" property="dwork" jdbcType="VARCHAR" />
    <result column="dphoto" property="dphoto" jdbcType="VARCHAR" />
    <result column="dstate" property="dstate" jdbcType="BIT" />
    <result column="pstate" property="pstate" jdbcType="BIT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    did, dname, dsex, didentity, daddress, dnation, dphone, demail, dwork, dphoto, dstate, 
    pstate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.blood.bloodservice.entity.DoctorExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from doctor
    where did = #{did,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from doctor
    where did = #{did,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.blood.bloodservice.entity.DoctorExample" >
    delete from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="did" parameterType="com.blood.bloodservice.entity.Doctor" >
    insert into doctor (did, dname, dsex, 
      didentity, daddress, dnation, 
      dphone, demail, dwork, 
      dphoto, dstate, pstate)
    values (#{did,jdbcType=INTEGER}, #{dname,jdbcType=VARCHAR}, #{dsex,jdbcType=VARCHAR}, 
      #{didentity,jdbcType=VARCHAR}, #{daddress,jdbcType=VARCHAR}, #{dnation,jdbcType=VARCHAR}, 
      #{dphone,jdbcType=VARCHAR}, #{demail,jdbcType=VARCHAR}, #{dwork,jdbcType=VARCHAR}, 
      #{dphoto,jdbcType=VARCHAR}, #{dstate,jdbcType=BIT}, #{pstate,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.blood.bloodservice.entity.Doctor" >
    insert into doctor
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        did,
      </if>
      <if test="dname != null" >
        dname,
      </if>
      <if test="dsex != null" >
        dsex,
      </if>
      <if test="didentity != null" >
        didentity,
      </if>
      <if test="daddress != null" >
        daddress,
      </if>
      <if test="dnation != null" >
        dnation,
      </if>
      <if test="dphone != null" >
        dphone,
      </if>
      <if test="demail != null" >
        demail,
      </if>
      <if test="dwork != null" >
        dwork,
      </if>
      <if test="dphoto != null" >
        dphoto,
      </if>
      <if test="dstate != null" >
        dstate,
      </if>
      <if test="pstate != null" >
        pstate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="did != null" >
        #{did,jdbcType=INTEGER},
      </if>
      <if test="dname != null" >
        #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dsex != null" >
        #{dsex,jdbcType=VARCHAR},
      </if>
      <if test="didentity != null" >
        #{didentity,jdbcType=VARCHAR},
      </if>
      <if test="daddress != null" >
        #{daddress,jdbcType=VARCHAR},
      </if>
      <if test="dnation != null" >
        #{dnation,jdbcType=VARCHAR},
      </if>
      <if test="dphone != null" >
        #{dphone,jdbcType=VARCHAR},
      </if>
      <if test="demail != null" >
        #{demail,jdbcType=VARCHAR},
      </if>
      <if test="dwork != null" >
        #{dwork,jdbcType=VARCHAR},
      </if>
      <if test="dphoto != null" >
        #{dphoto,jdbcType=VARCHAR},
      </if>
      <if test="dstate != null" >
        #{dstate,jdbcType=BIT},
      </if>
      <if test="pstate != null" >
        #{pstate,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.blood.bloodservice.entity.DoctorExample" resultType="java.lang.Integer" >
    select count(*) from doctor
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update doctor
    <set >
      <if test="record.did != null" >
        did = #{record.did,jdbcType=INTEGER},
      </if>
      <if test="record.dname != null" >
        dname = #{record.dname,jdbcType=VARCHAR},
      </if>
      <if test="record.dsex != null" >
        dsex = #{record.dsex,jdbcType=VARCHAR},
      </if>
      <if test="record.didentity != null" >
        didentity = #{record.didentity,jdbcType=VARCHAR},
      </if>
      <if test="record.daddress != null" >
        daddress = #{record.daddress,jdbcType=VARCHAR},
      </if>
      <if test="record.dnation != null" >
        dnation = #{record.dnation,jdbcType=VARCHAR},
      </if>
      <if test="record.dphone != null" >
        dphone = #{record.dphone,jdbcType=VARCHAR},
      </if>
      <if test="record.demail != null" >
        demail = #{record.demail,jdbcType=VARCHAR},
      </if>
      <if test="record.dwork != null" >
        dwork = #{record.dwork,jdbcType=VARCHAR},
      </if>
      <if test="record.dphoto != null" >
        dphoto = #{record.dphoto,jdbcType=VARCHAR},
      </if>
      <if test="record.dstate != null" >
        dstate = #{record.dstate,jdbcType=BIT},
      </if>
      <if test="record.pstate != null" >
        pstate = #{record.pstate,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update doctor
    set did = #{record.did,jdbcType=INTEGER},
      dname = #{record.dname,jdbcType=VARCHAR},
      dsex = #{record.dsex,jdbcType=VARCHAR},
      didentity = #{record.didentity,jdbcType=VARCHAR},
      daddress = #{record.daddress,jdbcType=VARCHAR},
      dnation = #{record.dnation,jdbcType=VARCHAR},
      dphone = #{record.dphone,jdbcType=VARCHAR},
      demail = #{record.demail,jdbcType=VARCHAR},
      dwork = #{record.dwork,jdbcType=VARCHAR},
      dphoto = #{record.dphoto,jdbcType=VARCHAR},
      dstate = #{record.dstate,jdbcType=BIT},
      pstate = #{record.pstate,jdbcType=BIT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.blood.bloodservice.entity.Doctor" >
    update doctor
    <set >
      <if test="dname != null" >
        dname = #{dname,jdbcType=VARCHAR},
      </if>
      <if test="dsex != null" >
        dsex = #{dsex,jdbcType=VARCHAR},
      </if>
      <if test="didentity != null" >
        didentity = #{didentity,jdbcType=VARCHAR},
      </if>
      <if test="daddress != null" >
        daddress = #{daddress,jdbcType=VARCHAR},
      </if>
      <if test="dnation != null" >
        dnation = #{dnation,jdbcType=VARCHAR},
      </if>
      <if test="dphone != null" >
        dphone = #{dphone,jdbcType=VARCHAR},
      </if>
      <if test="demail != null" >
        demail = #{demail,jdbcType=VARCHAR},
      </if>
      <if test="dwork != null" >
        dwork = #{dwork,jdbcType=VARCHAR},
      </if>
      <if test="dphoto != null" >
        dphoto = #{dphoto,jdbcType=VARCHAR},
      </if>
      <if test="dstate != null" >
        dstate = #{dstate,jdbcType=BIT},
      </if>
      <if test="pstate != null" >
        pstate = #{pstate,jdbcType=BIT},
      </if>
    </set>
    where did = #{did,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blood.bloodservice.entity.Doctor" >
    update doctor
    set dname = #{dname,jdbcType=VARCHAR},
      dsex = #{dsex,jdbcType=VARCHAR},
      didentity = #{didentity,jdbcType=VARCHAR},
      daddress = #{daddress,jdbcType=VARCHAR},
      dnation = #{dnation,jdbcType=VARCHAR},
      dphone = #{dphone,jdbcType=VARCHAR},
      demail = #{demail,jdbcType=VARCHAR},
      dwork = #{dwork,jdbcType=VARCHAR},
      dphoto = #{dphoto,jdbcType=VARCHAR},
      dstate = #{dstate,jdbcType=BIT},
      pstate = #{pstate,jdbcType=BIT}
    where did = #{did,jdbcType=INTEGER}
  </update>
</mapper>