<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blood.bloodservice.dao.SendbloodMapper" >
  <resultMap id="BaseResultMap" type="com.blood.bloodservice.entity.Sendblood" >
    <id column="bid" property="bid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="yid" property="yid" jdbcType="INTEGER" />
    <result column="sbnumber" property="sbnumber" jdbcType="INTEGER" />
    <result column="sbtype" property="sbtype" jdbcType="VARCHAR" />
    <result column="bless" property="bless" jdbcType="VARCHAR" />
    <result column="sbaddress" property="sbaddress" jdbcType="VARCHAR" />
    <result column="sbpeople" property="sbpeople" jdbcType="VARCHAR" />
    <result column="sbdate" property="sbdate" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bid, uid, yid, sbnumber, sbtype, bless, sbaddress, sbpeople, sbdate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.blood.bloodservice.entity.SendbloodExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from send_blood
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from send_blood
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from send_blood
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.blood.bloodservice.entity.SendbloodExample" >
    delete from send_blood
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="bid" parameterType="com.blood.bloodservice.entity.Sendblood" >
    insert into send_blood (bid, uid, yid, 
      sbnumber, sbtype, bless, 
      sbaddress, sbpeople, sbdate
      )
    values (#{bid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{yid,jdbcType=INTEGER}, 
      #{sbnumber,jdbcType=INTEGER}, #{sbtype,jdbcType=VARCHAR}, #{bless,jdbcType=VARCHAR}, 
      #{sbaddress,jdbcType=VARCHAR}, #{sbpeople,jdbcType=VARCHAR}, #{sbdate,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blood.bloodservice.entity.Sendblood" >
    insert into send_blood
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        bid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="yid != null" >
        yid,
      </if>
      <if test="sbnumber != null" >
        sbnumber,
      </if>
      <if test="sbtype != null" >
        sbtype,
      </if>
      <if test="bless != null" >
        bless,
      </if>
      <if test="sbaddress != null" >
        sbaddress,
      </if>
      <if test="sbpeople != null" >
        sbpeople,
      </if>
      <if test="sbdate != null" >
        sbdate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bid != null" >
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="yid != null" >
        #{yid,jdbcType=INTEGER},
      </if>
      <if test="sbnumber != null" >
        #{sbnumber,jdbcType=INTEGER},
      </if>
      <if test="sbtype != null" >
        #{sbtype,jdbcType=VARCHAR},
      </if>
      <if test="bless != null" >
        #{bless,jdbcType=VARCHAR},
      </if>
      <if test="sbaddress != null" >
        #{sbaddress,jdbcType=VARCHAR},
      </if>
      <if test="sbpeople != null" >
        #{sbpeople,jdbcType=VARCHAR},
      </if>
      <if test="sbdate != null" >
        #{sbdate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.blood.bloodservice.entity.SendbloodExample" resultType="java.lang.Integer" >
    select count(*) from send_blood
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update send_blood
    <set >
      <if test="record.bid != null" >
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.yid != null" >
        yid = #{record.yid,jdbcType=INTEGER},
      </if>
      <if test="record.sbnumber != null" >
        sbnumber = #{record.sbnumber,jdbcType=INTEGER},
      </if>
      <if test="record.sbtype != null" >
        sbtype = #{record.sbtype,jdbcType=VARCHAR},
      </if>
      <if test="record.bless != null" >
        bless = #{record.bless,jdbcType=VARCHAR},
      </if>
      <if test="record.sbaddress != null" >
        sbaddress = #{record.sbaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sbpeople != null" >
        sbpeople = #{record.sbpeople,jdbcType=VARCHAR},
      </if>
      <if test="record.sbdate != null" >
        sbdate = #{record.sbdate,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update send_blood
    set bid = #{record.bid,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      yid = #{record.yid,jdbcType=INTEGER},
      sbnumber = #{record.sbnumber,jdbcType=INTEGER},
      sbtype = #{record.sbtype,jdbcType=VARCHAR},
      bless = #{record.bless,jdbcType=VARCHAR},
      sbaddress = #{record.sbaddress,jdbcType=VARCHAR},
      sbpeople = #{record.sbpeople,jdbcType=VARCHAR},
      sbdate = #{record.sbdate,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.blood.bloodservice.entity.Sendblood" >
    update send_blood
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="yid != null" >
        yid = #{yid,jdbcType=INTEGER},
      </if>
      <if test="sbnumber != null" >
        sbnumber = #{sbnumber,jdbcType=INTEGER},
      </if>
      <if test="sbtype != null" >
        sbtype = #{sbtype,jdbcType=VARCHAR},
      </if>
      <if test="bless != null" >
        bless = #{bless,jdbcType=VARCHAR},
      </if>
      <if test="sbaddress != null" >
        sbaddress = #{sbaddress,jdbcType=VARCHAR},
      </if>
      <if test="sbpeople != null" >
        sbpeople = #{sbpeople,jdbcType=VARCHAR},
      </if>
      <if test="sbdate != null" >
        sbdate = #{sbdate,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blood.bloodservice.entity.Sendblood" >
    update send_blood
    set uid = #{uid,jdbcType=INTEGER},
      yid = #{yid,jdbcType=INTEGER},
      sbnumber = #{sbnumber,jdbcType=INTEGER},
      sbtype = #{sbtype,jdbcType=VARCHAR},
      bless = #{bless,jdbcType=VARCHAR},
      sbaddress = #{sbaddress,jdbcType=VARCHAR},
      sbpeople = #{sbpeople,jdbcType=VARCHAR},
      sbdate = #{sbdate,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
</mapper>